.mainContainer {
    max-width: 1080px;

    display: flex;

    flex: 1 1 auto;
    flex-shrink: 0;
    padding: 1rem 0.5rem;
}

.shopIntro {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.homeImg {
    width: calc(15vw + 12rem);
    border-radius: 15px;
}

.ShopDesc {
    display: flex;
    flex-flow: column nowrap;
}

@media (max-width: 568px) {
    .shopIntro {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homeImg {
        width: 60vw;
        border-radius: 15px;
    }

    .ShopDesc {
        align-items: center;
    }
}