.headerContainer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    position: sticky;
    top: 0;

    border-bottom: 1px solid green;
    background-color: #2E3532;
}

.headingText {
    font-weight: 600;
    margin: 1rem 0rem;
}

.headerLinksContainer {
    display: flex;
    gap: 1rem;
}