.headerContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    position: sticky;
    top: 0;

    border-bottom: 1px solid green;
}

.headingText {
    font-family: "Poller One";
    font-weight: 600;
    font-style: normal;
}

.headerLinksContainer {
    display: flex;
    gap: 1rem;
}